h4.grey-text.text-darken-1 Users

table.hoverable
  thead
    tr
      th ID
      th
      th Email
      th Created
  tbody
    tr(ng-repeat="user in users")
      td {{ user.id }}
      th
        i.fa.fa-star(ng-if="user.admin")
      td {{ user.email }}
      td {{ user.created_at | date:'medium' }}

