md-dialog.account-type-change-modal
  md-dialog-content.sticky-container
    md-subheader.md-sticky-no-effect
      .md-headline Please confirm
    .flex-container

      p.md-subhead Changing account type will reset your account's verification.
        | You will need to complete and submitted all forms again.

      md-button.md-primary(ng-click="verification.setVerificationType(changeTo);cancel()"
        ng-disabled="verification.isSubmitting")
        | I understand, please change my account to type '{{ changeTo }}'

  .md-actions(layout="row")
    md-button.md-primary(ng-click="cancel()", type="button")
      | Cancel
