md-dialog.account-type-change-modal(ng-style="{width: '400px'}")
  md-dialog-content.sticky-container
    md-subheader.md-sticky-no-effect
      .md-headline Set new Password
    .flex-container

      form(name="resetPasswordForm"
        ng-submit="updatePassword(newPass)"
        novalidate)

        md-input-container
          label Password
          input(ng-model="newPass.password" type="password" required)

        md-input-container
          label Password Confirmation
          input(ng-model="newPass.password_confirmation" type="password" required)

        md-button.submit-btn.md-raised.md-primary(ng-disabled="resetPasswordForm.$invalid")
          | Submit

  .md-actions(layout="row")
    md-button.md-primary(ng-click="cancel()", type="button")
      | Cancel
