h6 Set new Password

  .row


    form.col.s12(name="resetPasswordForm"
      ng-submit="updatePassword(newPass)"
      novalidate)

      .row
        .input-field.col.s12
          input(ng-model="newPass.password" type="password" required)
          label Password

      .row
        .input-field.col.s12
          input(ng-model="newPass.password_confirmation" type="password" required)
          label Password Confirmation

      .row
        .input-field.col.s12
          button.waves-effect.waves-light.btn(type="submit"
            ng-class="{disabled: resetPasswordForm.$invalid}")
            | Submit

  .row
    .input-field.col.s12
      a.waves-effect.waves-light.btn.red(ng-click="cancel()")
        | Cancel