#change-pw-modal.modal
  .modal-content
    h5 Set new password

    .row
      form.col.s12(name="resetPasswordForm"
        ng-submit="updatePassword(newPass)"
        novalidate)

        .row
          .input-field.col.s6
            input(ng-model="newPass.password" type="password" required)
            label Password
          .input-field.col.s6
            input(ng-model="newPass.password_confirmation" type="password" required)
            label Password Confirmation

        .row
          .input-field.col.s12
            button.waves-effect.waves-light.btn(type="submit"
              ng-class="{disabled: resetPasswordForm.$invalid}")
              | Submit

  .modal-footer
    a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href="#!") Cancel
