#forgot-pw-modal.modal
  .modal-content
    h5 Request password change
    p You will be emailed instructions to change your password.

    .row
      form.col.s12(name="resetPassForm"
        ng-submit="requestPasswordReset(reset)"
        novalidate)

        .row
          .input-field.col.s6
            input(ng-model="reset.email" type="email" required)
            label Email
        .row
          .input-field.col.s6
            button.waves-effect.waves-light.btn(type="submit"
              ng-class="{disabled: resetPassForm.$invalid}")
              | Request password reset email

  .modal-footer
    a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href="#!") Cancel
