section
  h5.grey-text.text-darken-1 Welcome!
  p Ready to get started?
  a.waves-effect.waves-light.btn.amber.lighten-3.grey-text.text-darken-1(
    ui-sref="layout_app.values.score")
    | Get started scoring values

.divider(ng-style="{'margin-bottom': '25px','margin-top': '30px'}")

section
  h5.grey-text.text-darken-1
    | What is this?
  p An experiment. I'm curious about values. My own and others.
  p
    i.fa.fa-quote-left.grey-text&nbsp;
    | How do I value freedom compared with stability or safety?&nbsp;
    i.fa.fa-quote-right.grey-text
  p What we value guides our lives. What we prioritize. How we set goals. And
    | ultimately what makes us happy.
