h4.grey-text.text-darken-1 Recent matches

table.hoverable
  thead
    tr
      th ID
      th User Id
      th Winner Id
      th Loser Id
      th Match Time
  tbody
    tr(ng-repeat="result in results")
      td {{ result.id }}
      th {{ result.user_id }}
      td {{ result.winner_id }}
      td {{ result.loser_id }}
      td {{ result.created_at | date:'medium' }}