h4 What do you value?

p Wanna go fast? Show keyboard shortcuts: <strong>Shift+?</strong>

.divider

section
  .row
    .col.s6
      h4 {{ left.name }}
      h5 {{ left.description }}
      a.waves-effect.waves-light.btn-large.blue.lighten-5.blue-text(ng-click="score(left,right)")
        | Choose

    .col.s6
      h4 {{ right.name }}
      h5 {{ right.description }}
      a.waves-effect.waves-light.btn-large.blue.lighten-5.blue-text(ng-click="score(right,left)")
        | Choose

p &nbsp;
p &nbsp;

.divider
section
  p Too close to call?
    a.waves-effect.waves-teal.btn-flat(ng-click="skipMatch()")
      | Skip