div(ui-view="")

  h4 Values

  table.hoverable.bordered
    tr.header
      th(width="20%") ID
      th Name
      th Description

    tr.body(ng-repeat="value in values")
      td {{ value.id }}
      td
        a(href="" ui-sref="layout_app.values.show({valueId: value.id})")
          | {{ value.name }}
      td {{ value.description }}

  div.row(ng-if="user.admin")
    .col.s12
      .card.blue.lighten-4
        .card-content
          span.card-title.black-text
            | Create new Value

          form.col.s12(name="newValueForm"
            ng-submit="createValue(newValue);resetForm(newValueForm)"
            novalidate)

            .row
              .input-field.col.s6
                  input(ng-model="newValue.name" type="text" required)
                  label Name

              .input-field.col.s6
                  input(ng-model="newValue.description" type="text" required)
                  label Description

            .row
              .input-field.col.s12
                button.waves-effect.waves-light.blue.ligthen-3.white-text.btn(type="submit"
                  ng-class="{disabled: newValueForm.$invalid}")
                  | Create new Value

