div(ui-view="")

  h2 Values

  table.table
    tr.header
      th(width="20%") ID
      th Name
      th Description

    tr.body(ng-repeat="value in values")
      td {{ value.id }}
      td
        a(href="" ui-sref="layout_app.values.show({valueId: value.id})")
          | {{ value.name }}
      td {{ value.description }}

  hr

  form(layout="row"
    ng-if="user.admin"
    name="newValueForm"
    ng-submit="createValue(newValue);resetForm(newValueForm)"
    novalidate)

    md-content(layout-padding)
      div(layout="row")
        md-input-container
          label Name
          input(ng-model="newValue.name" required)

        md-input-container
          label Description
          input(ng-model="newValue.description" required)

      md-button.submit-btn.md-raised.md-primary(ng-disabled="newValueForm.$invalid")
        | Create new Value
