h4
  a(href="" ui-sref="layout_app.values")
    | Values
  | - {{ value.name }}

.row
  form.col.s12(ng-if="user.admin"
    name="updateValueForm"
    ng-submit="updateValue(value)"
    novalidate)

    .row
      .input-field.col.s6
        input(ng-model="value.name" type="text" required)
        label(ng-class="{active: value.name}")
          | Name

      .input-field.col.s6
        input(ng-model="value.description" type="text" required)
        label(ng-class="{active: value.description}")
          | Description

    .row
      .input-field.col.s12
        button.waves-effect.waves-light.red.btn(type="submit"
          ng-class="{disabled: updateValueForm.$invalid}")
          | Update Value
