h2 Values

div(ng-repeat="value in values" layout="row")
  div(layout-padding) {{ value.id }}
  div(layout-padding) {{ value.name }}
  div(layout-padding) {{ value.description }}

hr

form(layout="row"
  ng-if="user.admin"
  name="newValueForm"
  ng-submit="createValue(newValue)"
  novalidate)

  md-content(layout-padding)
    div(layout="row")
      md-input-container
        label Name
        input(ng-model="newValue.name" required)

      md-input-container
        label Description
        input(ng-model="newValue.description" required)

    md-button.submit-btn.md-raised.md-primary(ng-disabled="newValueForm.$invalid")
      | Create new Value
