div(ui-view="")

  h4 Values

  table.hoverable.bordered
    tr.header
      th Value
      th
        a(href="" ng-click="sortScore()") Score
      th
        a(href="" ng-click="sortAverageDiff()") (vs all users)
      th Description
      th ID

    tr.body(ng-repeat="value in Value.values"
      ng-init="diff = value.score - value.average")

      td
        a(href="" ui-sref="layout_app.values.show({valueId: value.id})")
          | {{ value.name }}
      td {{ value.score }}
      td
        span(ng-if="diff != 0" ng-class="{'red-text': diff < 0, 'green-text': diff > 0}")
          span(ng-if="diff > 0")
            | +
          {{ diff }}
      td {{ value.description }}
      td {{ value.id }}

  div.row(ng-if="user.admin")
    .col.s12
      .card.blue.lighten-4
        .card-content
          span.card-title.black-text
            | Create new Value

          form.col.s12(name="newValueForm"
            ng-submit="createValue(newValue);resetForm(newValueForm)"
            novalidate)

            .row
              .input-field.col.s6
                  input(ng-model="newValue.name" type="text" required)
                  label Name

              .input-field.col.s6
                  input(ng-model="newValue.description" type="text" required)
                  label Description

            .row
              .input-field.col.s12
                button.waves-effect.waves-light.blue.ligthen-3.white-text.btn(type="submit"
                  ng-class="{disabled: newValueForm.$invalid}")
                  | Create new Value