.collection

  a.collection-item(ui-sref="layout_app.dashboard")
    | Dashboard

  a.collection-item(ui-sref="layout_app.users")
    | Users

  a.collection-item(ui-sref="layout_app.values")
    | Values