.collection

  a.collection-item(ui-sref="layout_app.dashboard")
    | Dashboard

  a.collection-item(ui-sref="layout_app.users")
    | Users

  a.collection-item(ui-sref="layout_app.values")
    | Values

  a.collection-item(ui-sref="layout_app.values.score")
    | Play

  a.collection-item(ui-sref="layout_app.match_results")
    | Match results