li.logo.blue.lighten-3
  a(href="" ui-sref="layout_app.dashboard") Evaluator App
li(ui-sref-active-eq="active")
  a(ui-sref="layout_guest.login")
    | Auth Page
li(ui-sref-active-eq="active")
  a(ui-sref="layout_app.dashboard")
    | Dashboard
li(ui-sref-active-eq="active")
  a(ui-sref="layout_app.users")
    | Users
li(ui-sref-active-eq="active")
  a(ui-sref="layout_app.values")
    | Values
li(ui-sref-active-eq="active")
  a(ui-sref="layout_app.values.score")
    | Play
li(ui-sref-active-eq="active")
  a(ui-sref="layout_app.match_results")
    | Match results