<md-sidenav
  ui-view="sidebar"
  class="site-sidenav md-sidenav-left md-whiteframe-z2"
  md-component-id="left"
  md-is-locked-open="$mdMedia('gt-sm')">

</md-sidenav>

<div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

  <md-toolbar layout="row" class="md-whiteframe-z1">
    <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
      Menu
    </md-button>
    <h1>Layout_app.html <i class="fa fa-user"></i></h1>
  </md-toolbar>

  <md-content flex id="content" ui-view="">
    <p>ui-view</p>
  </md-content>

</div>